modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
DIRECT_URL = "postgresql://neondb_owner:npg_imqRtc3T6DOL@ep-icy-forest-afme9pgp.c-2.us-west-2.aws.neon.tech/neondb?sslmode=require"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34747
externalPort = 3000

[[ports]]
localPort = 36293
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]
