modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33785
externalPort = 3000

[[ports]]
localPort = 41823
externalPort = 3001

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
DIRECT_URL = "postgresql://neondb_owner:npg_aMY8JVwm3ogb@ep-noisy-lab-a5b8o74f.us-east-2.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET = "2392de24f30a2e10572acfa402c1abdd8e50f1ecbff1a578686c34221e63318e"
